<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.title }}</title>
    <link href="{{ url_for('static', filename='product.css') }}" rel="stylesheet">

</head>
<body>
<div class="background-container"></div>
<div>
<img src="{{ product.images[0].large }}" alt="{{ product.title }}">
<h1>{{ product.title }}</h1>
 <form action="{{ product.title }}_rating" method="get">
     <button class="button-54" type="submit">
        <i class="fa fa-star" ></i> {{ product.average_rating }}
     </button>
 </form>
 


 <script src="https://use.fontawesome.com/a6f0361695.js"></script>
<form id="feedback" action="" method="post">

 <div class="pinfo">Rate Product</div>


<div class="form-group">
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-heart"></i></span>
   <select class="form-control" id="rate" name="rate">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    </div>
  </div>
</div>

 <div class="pinfo">Write your feedback.</div>


<div class="form-group">
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
  <textarea class="form-control" id="review" name="text" rows="3"></textarea>

    </div>
  </div>
</div>

 <button type="submit" class="btn btn-primary">Submit</button>


</form>
</div>
</body>
</html>